<html>

<head>
    <meta charset="utf-8">
    <title>Himawari</title>
    <link rel="stylesheet" type="text/css" href="/views/css/style.css">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/x-template" id="item-template">
        <li>
            <div
            :class="{bold: isFolder}"
            @click="toggle">
                {{ item.path }}
                <span v-if="isFolder">[{{ isOpen ? '-' : '+' }}]</span>
            </div>
            <ul v-show="isOpen" v-if="isFolder">
                <tree-item
                class="item"
                v-for="(child, index) in item.children"
                :key="index"
                :item="child"
                ></tree-item>
            </ul>
        </li>
    </script>
</head>

<body>
    <ul id="tree">
        <p>URL: <input type="text" v-model="url" placeholder="http://localhost:8081" v-on:keyup.enter="doCrawl">
            <button v-on:click="doCrawl()">crawl</button>
            <button v-on:click="doReset()">reset</button><br>
        </p>

        <input type="file" v-on:change="onUpload">
        <button v-on:click="doUpload()">upload</button><br>
        <button v-on:click="doSort()">sort</button>
        <tree-item class="item" :item="treeData"></tree-item>
        <p>
            <button v-on:click="doFound()">found</button>
            <button v-on:click="doScan()">scan</button>
        </p>
        <a href="/download">download</a>
    </ul>

    <script src="/views/js/script.js"></script>

</body>

</html>